.buttons-actions-container {
	display: flex;
	flex-direction: column;
}
td {
	text-align: center;
}
.field_reservation {
    color: #999;
    font-size: 1.5em;
    padding-left: 1em;
}
.hidden {
	display: none;
}